<%= form_with(model: [:admin, @product_type], local: true) do |form|  %>
    <% if product_type.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(product_type.errors.count, "error")%> prohibited this user from being saved</h2>
            <ul>
                <% product_type.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field">
        <%= form.label :category_id %>
        <%= form.collection_select(:category_id, @categories, :id, :name) %>
    </div>


    <div class="field">
        <%= form.label :isactive, 'Active' %>
        <%= form.label :is_active, 'Hiện', :value => true %>
        <%= form.radio_button :is_active, true, :checked => true  %>
        <%= form.label :is_active, 'Ẩn', :value => false %>
        <%= form.radio_button :is_active, false  %>
    </div>
    

    <div class="actions">
        <%= form.submit %>
    </div>

<% end %>